<style>
    body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

.container {
    display: flex;
    gap: 80px;
    
}

.retangulo{
    width: 1000px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 120px;
}

h1{
    text-align: center;
    margin-top: 100px;
}

p{ 
    text-align: center;
    margin-top: 100px;
}

.galeria-btn {
    background: linear-gradient(90deg, #00a651, #8dc63f);
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 15px;
    transition: 0.3s;
    margin-left: 400px;
    margin-top: -1000px;
}

.galeria-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

 body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

    .container {
    display: flex;
    gap: 150px;
    }
    .retangulo{
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo img{
    width: 400px;
    height: 390px;
}

h2{
    text-align: center;
    margin-top: 10px;
}

.retangulo2 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}

.retangulo2 img {
    width: 400px;
    height: 390px;
}

.retangulo3 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo3 img {
    width: 400px;
    height: 390px;
}

.container2 {
    display: flex;
    gap: 0px;
}

.retangulo4{
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 270px;
    margin-top: 50px;
}

.retangulo4 img{
    width: 400px;
    height: 390px;
}

.retangulo5 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 50px;
}

.retangulo5 img {
    width: 400px;
    height: 390px;
}

.retangulo6 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 50px;
}

.retangulo6 img {
    width: 400px;
    height: 390px;
}

.retangulo7 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 270px;
    margin-top: 50px;
}

.retangulo7 img{
    width: 400px;
    height: 390px;
}

.retangulo8 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 50px;
}

.retangulo8 img {
    width: 400px;
    height: 390px;
}

.retangulo9 {
    width: 400px;
    height: 450px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 50px;
}

.retangulo9 img {
    width: 400px;
    height: 390px;
}

    body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 800px;
    height: 560px;
    margin-left: 100px;
    margin-top: 150px;
}

h1 {
    margin-left: 1300px;
    margin-top: -590px;
}

h4 {
margin-left: 1140px;
font-size: 25px;
}

.saibamais-btn {
    background: linear-gradient(90deg, #00a651, #8dc63f);
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 55px;
    margin-left: 1300px;
}

.saibamais-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

  body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 800px;
    height: 560px;
    margin-left: 100px;
    margin-top: 150px;
}

h1 {
    margin-left: 1200px;
    margin-top: -580px;
}

h4 {
margin-left: 1000px;
font-size: 25px;
}
  body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

h1{
    margin-left: 50px;
}

 .container {
    display: flex;
    gap: 165px;
    }
    .retangulo{
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo img{
    width: 250px;
    height: 290px;
    opacity: 0.5;
 
}

h2{
    text-align: center;
    margin-top: -290px;
}

h3 {
    margin-top: 200px;
    margin-left: 20px;
}

.retangulo2 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}

.retangulo2 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

.retangulo3 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo3 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

.retangulo4 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo4 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

    body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 500px;
    height: 560px;
    margin-left: 100px;
    margin-top: 70px;
}

h1 {
    margin-left: 100px;
    margin-top: -630px;
}

h4 {
margin-left: 800px;
font-size: 25px;
}

   body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

h1{
    margin-left: 50px;
}

 .container {
    display: flex;
    gap: 165px;
    }
    .retangulo{
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo img{
    width: 250px;
    height: 290px;
    opacity: 0.5;
 
}

h2{
    text-align: center;
    margin-top: -290px;
}

h3 {
    margin-top: 200px;
    margin-left: 20px;
}

.retangulo2 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}

.retangulo2 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

.retangulo3 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo3 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

.retangulo4 {
    width: 250px;
    height: 300px;
    background-color: #3a673a;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: -80px;
    margin-top: 50px;
}
.retangulo4 img {
    width: 250px;
    height: 290px;
    opacity: 0.5;
}

    body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 500px;
    height: 460px;
    margin-left: 50px;
    margin-top: 100px;
}

h1 {
    margin-left: 900px;
    margin-top: -500px;
}

h4 {
margin-left: 650px;
font-size: 25px;
margin-top: 70px;
}

.saibamais-btn {
    background: linear-gradient(90deg, #00a651, #8dc63f);
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 55px;
    margin-left: 1300px;
}

.saibamais-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.titulo {
    margin-left: -50px;
}

   body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 500px;
    height: 460px;
    margin-left: 1000px;
    margin-top: 100px;
}

h1 {
    margin-left: 100px;
    margin-top: -500px;
    font-size: 30px;
}

h3 {
    margin-left: 100px;
    font-size: 25px;
}

.data{
    margin-left: 100px;
   
}

.saibamais-btn {
    background: linear-gradient(90deg, #00a651, #8dc63f);
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 55px;
    margin-left: 1300px;
}

.saibamais-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.titulo {
    margin-left: -50px;
}

    body {
    background-color: #6a8c6a;
    color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    font-family: Arial, sans-serif;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #333;
}

.menu a:hover {
    color: #000;
    background-color: #abde6a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header {
    background-color: #abde6a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #f8f8f8;
    margin: 3px 0;
    transition: 0.3s;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 5%;
    min-height: 70vh;
}

.hero-content {
    flex: 1;
    min-width: 300px;
    padding: 20px;

}

img {
    width: 500px;
    height: 560px;
    margin-left: 100px;
    margin-top: 70px;
}

h1 {
    margin-left: 100px;
    margin-top: -630px;
}

h4 {
margin-left: 800px;
font-size: 25px;
}

</style>
